# ignore Rider stuff
.idea
.idea.old

# ignore vscode stuff
.vscode

# ignore build output
Build/build
LaunchAgent/build
Build/payload/Applications/Utilities/*.app

# ignore macOS files
.DS_Store

# ignore C# build files
**/bin/
**/obj/

# ignore Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# ignore C build files
*.o
*.out

# ignore log files
*.log

# ignore user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.DotSettings.user