<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.0</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Installer Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pkg</string>
				<string>mpkg</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.installer-package-archive</string>
				<string>com.apple.installer-distribution-package</string>
				<string>com.apple.installer-package</string>
				<string>com.apple.installer-meta-package</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dmg</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.disk-image-udif</string>
			</array>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Install with Support Companion</string>
			</dict>
			<key>NSMessage</key>
			<string>installOpenedInstaller</string>
			<key>NSPortName</key>
			<string>SupportCompanion</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<array>
					<string>com.apple.finder</string>
				</array>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>com.apple.installer-package-archive</string>
				<string>com.apple.installer-distribution-package</string>
				<string>com.apple.installer-package</string>
				<string>com.apple.installer-meta-package</string>
				<string>com.apple.disk-image-udif</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.github.macadmins.SupportCompanion</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>supportcompanion</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.0.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.github.macadmins.SupportCompanion.helper</key>
		<string>anchor apple generic and identifier "com.github.macadmins.SupportCompanion.helper" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = $(TEAM_ID))</string>
	</dict>
</dict>
</plist>
